@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
  }

  .reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.42, 0, 0.58, 1.0);
  }

  .reveal-2 {
    transition-delay: .1s;
  }

  .reveal-3 {
    transition-delay: .2s;
  }

  .reveal-4 {
    transition-delay: .3s;
  }
}

@font-face {
  font-family: Raleway;
  src: url("src/fonts/Raleway/Raleway-VariableFont_wght.ttf");


  font-family: Roboto;
  src: url("src/fonts/Roboto/Roboto-Black.ttf");
}